<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Larsen & Toubro Infotech</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  media='screen' href="login.component.css">
   
</head>
<body>
   
   
    <div class="row">
        <div class="main">
          
          <div class="card">
            <h2 style="text-align: center;">Login to a world of opportunities!</h2>
            <form id="f1">
              
                <div class="container">
                  <label for="uname"><b>Username</b></label>
                  <input type="text" placeholder="Enter Username" id="uname">
                  
              
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" id="psw">
              
                  <button type="submit">Login</button>
                  <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                  </label>
                </div>
              
                <div class="container" style="background-color:#f1f1f1">
                  <button type="button" class="cancelbtn">Cancel</button>
                  <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
              </form>
            
             
        </div>
        </div>
       </div>




    <div class="footer">
        <p>© 2020 Larsen & Toubro Infotech Limited</p>
      </div>  
</body>
</html>